@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
.quicksand-uniquifier {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

*{
    margin: 0px;
    padding: 10px;
}
.display-flex{
    display: flex;
   
}
.font{
    font-weight: 700;
    font-size: 32px;
    width: 387px;
    height: 30px;  
}
.item{
list-style: none;
text-align: center;
font-size: 20px;
font-weight: 700;
line-height: 30px;
gap: 20px;

}
.home{
    color: rgb(254, 163, 1);
}
.about{
    color: rgb(1, 172, 253);
}
.facilities{
    color: rgb(5, 212, 223);
}
.admission{
    color: rgb(93, 88, 239);

}
.btn-primary{
   color: rgb(255, 255, 255); 
   text-align: center; 
   border: 1px solid rgb(254, 163, 1);
   border-radius: 12px;
   width: 197px;
   height: 50px;
   background: rgb(254, 163, 1);
   font-size: 20px;
   font-weight: 600;
   line-height: 30px;
   margin-left: 17rem;
}